{% extends "base.html" %}
{% load static %}

{% block content %}
		<!-- HEADER -->
		
		<!-- /HEADER -->

		<!-- NAVIGATION -->

		<!-- /NAVIGATION -->

		<!-- SECTION -->

		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for p in object_list %}
										<div class="product">
										
											<div class="product-img" >
												<img src="{{p.thumbnail.url}}" width="300px" height="300px">
												<div class="product-label">
													
													<span class="badge badge-pill {{p.get_label_display}}-color">NEW</span>
												</div>
											</div>
											<div class="product-body">
												{% for cat in p.categories.all %}
												<p class="product-category">{{cat}}</p>
												{% endfor %}
												<h3 class="product-name"><a href="{{p.get_absolute_url}}">{{p.title}}</a></h3>
												<h4 class="product-price">{{p.price}}<del class="product-old-price">$990.00</del></h4>
											
											
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><a href="{{p.get_add_to_cart_url}}"><i class="fa fa-shopping-cart"></i> add to cart</a></button>
											</div>
						
										</div>
										{% endfor %}
										<!-- /product -->

										<!-- product -->
										
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
	
		<!-- /HOT DEAL SECTION -->


		
		

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->

			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
	
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->


{% endblock content %}
