{% extends 'base.html' %}
{% load static %}

{% block content %}
		<!-- HEADER -->
	
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
	
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{object.thumbnail.url}}" alt="">
							</div>

							
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
						
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{object.title}}</h2>
							
							<div>
								<h3 class="product-price">$ {{object.price}}</h3>
								<span class="product-available">In Stock</span>
							</div>
							<p>{{object.overview}}</p>


							<div class="add-to-cart">
								<div class="qty-label">
						
								</div>
								<a href="{{object.get_add_to_cart_url}}"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button></a>
					
							
								<a href="{{object.get_remove_from_cart_url}}"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Remove from cart</button></a>
							</div>
							

						

							

						</div>
						
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						
										</div>
										<!-- /Reviews -->

										<!-- Review Form -->
										
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- Section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							
						</div>
					</div>
					<!-- /product -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /Section -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
	
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->


{% endblock content %}